.gallery{
    text-align: center;
    background-color:$galleyColor;
    padding: 40px 0;    
    margin-bottom: 20px;
    
    h3{
        margin: 5px 20px;

    }
    
    
    &__list{
        justify-content: center;
        margin-bottom: 20px;
    }
    
    &__section{
        padding-top: 20px ;
        flex-wrap: wrap;              
        justify-content: space-between;
        background-color: #fff;
        
        
    }
    &__section img{
        width: 100%;
    }
    @mixin atSmall {
        &__section img{
            width: 50%;
        }
        
    }
    @mixin atMedium {
        text-align: end;
            &__section img{
                width: 18%;
                margin-bottom: 25px;        
            }
        
    }
    

}